* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
header {
    width: 100%;
    height: 100vh;
    background: url(./imgs/canoers.jpg) no-repeat fixed center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
h1, h2 {
    background-color: rgba(204, 245, 245, 0.452);
    line-height: 8px;
    letter-spacing: 4px;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: 25px;
}
h1, h2, h3 {
    font-family: "Lobster";
}
h1 {
    font-size: 40px;
    text-shadow: 2px 2px 0 #fff, 3px 3px 0 #333, 4px 4px 0 #fff;
}
section {
    display: flex;
    flex-direction: row;
}
article {
    width: 85%;
    margin: 0 12px 12px 12px;
}
article p {
    font-size: 18px;
}
article h2 {
    font-size: 30px;
    margin: 8px;
    text-shadow: 1.5px 1.5px 0 #fff, 2.5px 2.5px 0 #333, 3.5px 3.5px 0 #fff;
}
@keyframes slideIn {
    from { transform: translateY(-1500px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
aside {
    text-align: right;
    width: 15%;
    background-color: azure;
    font-size: 15px;
    transform: translateY(-1500px);
    opacity: 0;
    animation: slideIn 4.5s forwards linear;
    transition: all ease;
}
aside p {
    margin: 0 12px;
    line-height: 2.3em;
}
aside h3 {
    margin: 8px;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #333, 3px 3px 0 #fff;
    font-size: 20px;
}
.gallery {
    width: 100%;
    height: auto;
    background: url(./imgs/riverscape.jpg) repeat;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    transition: all ease;
}
.gallery div {
    background-color: rgba(240, 255, 255, 0.6);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
@keyframes rotateCircle {
    0% {transform: rotate(0deg);}
    25% {transform: rotate();}
    50% {transform: rotate();}
    75% {transform: rotate();}
    100% {transform: rotate(360deg);}
}
.gallery div:hover {
    animation: rotateCircle 3s infinite linear;
}
.gallery p {
    text-shadow: 2px 2px 0 #333, 3px 3px 0 #fff, 4px 4px 0 #333;
    color: black;
}
.gallery a, a:link, a:hover, a:visited {
    transition: all linear;
    text-decoration: none;
    color: #000;
}
.gallery a:hover {
    transition: 0.3s;
}
.gallery .a1, .a2, .a3 {
    font-size: 34px;
}
footer p {
    padding: 8px;
    font-style: italic;
    background-color: rgb(206, 231, 231);
    text-align: center;
    font-size: 25px;
    width: fit-content;
    border-radius: 35px;
}
footer .p1, .p2 {
    margin: 15px auto;
    color: gray;
}
